[submodule "hans/themes/ananke"]
	path = hans/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "hans/themes/hugo-product-launch"]
	path = hans/themes/hugo-product-launch
	url = https://github.com/janraasch/hugo-product-launch.git
