<form
  action="https://formspree.io/f/myybpqvv"
  method="POST"
  class="pb-10"
  name="contact"
>
  <div class="grid grid-cols-1 md:grid-cols-2 md:gap-10">
    <div class="border-t border-green-DEFAULT py-2">
      <input
        id="name"
        name="name"
        class="appearance-none bg-gray-light border-none text-gray-dark mr-3 py-1 px-2 leading-tight focus:outline-none w-full"
        type="text"
        placeholder="Name"
        aria-label="Name"
      />
    </div>
    <div class="border-t border-green-DEFAULT py-2">
      <input
        required
        id="email"
        name="email"
        type="email"
        class="appearance-none bg-gray-light border-none text-gray-dark mr-3 py-1 px-2 leading-tight focus:outline-none w-full"
        type="text"
        placeholder="Email"
        aria-label="Email"
      />
    </div>
  </div>
  <div class="grid grid-cols-1">
    <div class="border-t border-green-DEFAULT py-2">
      <textarea
        required
        id="message"
        name="message"
        rows="6"
        placeholder="Message"
        class="appearance-none w-full bg-gray-light text-gray-dark mr-3 py-1 px-2 leading-tight focus:outline-none"
      ></textarea>
    </div>
  </div>
  <div class="md:text-center mx-auto">
    <button
      class="button button-primary mx-auto w-full rounded-lg px-4 md:px-5 py-3 md:py-4 bg-green-DEFAULT hover:bg-green-light md:text-lg md:leading-tight text-gray-dark font-semibold leading-tight shadow-md md:text-center"
      type="submit"
    >
      Send
    </button>
  </div>
</form>
